<!DOCTYPE html>
<html>
<head>
<style>
body { margin-right: 15%;
       margin-left: 15%;
       font-family: "Times New Roman", serif;
       text-align: justify;
       background-image: url('image/it_looks_old.jpg');
       background-size: contain;
       height: 100%;
 }

p {text-indent: 3%;
   margin-top: 20pt;
   margin-bottom: 20pt;
 }

img {
   display: block;
   margin-left: 30%;
   margin-right: 20%;
   font-size: 300pt;
   color: white;
}

h1, h2, h3, h4, h5, h6 {text-align: center; font-style: italic;
font-weight: normal; line-height: 1.5; margin-top: .5em; margin-bottom:
.5em;}

h1 {font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0em;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}
h4 {font-size: 120%;}
