<!DOCTYPE html>
<html>
<head>
<style>
body { margin-right: 15%;
       margin-left: 15%;
       font-family: "Times New Roman", serif;
       text-align: justify;
       background-image: url('image/it_looks_old.jpg');
       background-size: contain;
       height: 100%;
 }

p {text-indent: 3%;
   margin-top: 20pt;
   margin-bottom: 20pt;
 }

img {
   display: block;
   margin-left: 30%;
   margin-right: 20%;
   font-size: 300pt;
   color: white;
}

h1, h2, h3, h4, h5, h6 {text-align: center; font-style: italic;
font-weight: normal; line-height: 1.5; margin-top: .5em; margin-bottom:
.5em;}

h1 {font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0em;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}
h4 {font-size: 120%;}

hr.full {width: 100%; margin: 5em auto 5em auto; height: 0.25em;
border-width: 0.25em 0 0 0; border-style: solid; border-color: #000000;
clear: both;}

p.poem {text-indent: 0%;
        margin-left: 10%;
        font-size: 90%;
        margin-top: 1em;
        margin-bottom: 1em; }

p.right {text-align: right;
         margin-right: 10%;
         margin-top: 0.25em;
         margin-bottom: 1em; }

p.noindent {text-indent: 0% }

a:link {color:blue; text-decoration:none}
a:visited {color:blue; text-decoration:none}
a:hover {color:red}
